#google-link {
  color: rgb(247, 148, 29);
  font-size: 20px;
}

#listing-price {
  color: rgb(247, 148, 29);
  font-size: 18px;
}

#listing-title {
  line-height: 1.2em;
  color: black;
  font-size: 32px;
}

#listing-body {
  color: black;
  font-size: 18px;
}

#listing-label {
  font-weight:bold;
  color: rgb(190, 190, 190);
  font-size: 18px;
}

#listing-table {
  width:inherit;
  height:inherit;
}

#listing-padder {
  margin: 5px;
}

#listing-left {
  width: 65%;
}

#listing-right {
  width: 35%;
}

#left-sidebar{
  width:200px;
  height:100%;
}

html {
  font-family:Tahoma;
  width:100%;
  height:100%;
}

body {
  width:inherit;
  height:inherit;
}

#main-table {
  width:inherit;
  height:inherit;
}

.toolbar-option {
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  margin-left:30px;
  font-size: 16px;
  font-weight: 300;
}

.toolbar-option:hover {
  opacity: 1;
}

.option-text {
  transition: color 0.75s ease-in;
  -moz-transition: color 0.75s ease-in;
  -webkit-transition: color 0.75s ease-in;
  color:rgb(60, 60, 60);
}

.price-number {
  transition: color 0.75s ease-in;
  -moz-transition: color 0.75s ease-in;
  -webkit-transition: color 0.75s ease-in;
  color:rgb(190, 190, 190);
}

#scrolled-area {
  overflow-y: auto;
  height:100%;
  width:100%;
}

.item {
  transition: background-color 0.75s ease-in;
  -moz-transition: background-color 0.75s ease-in;
  -webkit-transition: background-color 0.75s ease-in;
  overflow: hidden;
  width: 200px;
  float: left;
  margin: 10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color:white;
  box-shadow: 1px 2px 5px 0px rgba(100, 100, 100, 55);
}

.item:hover {
  background-color: rgb(247, 148, 29);
}

.item:hover .price-text {
  color: white;
}

.item:hover .body-text {
  color: white;
}

.item:hover .price-number {
  color: white;
}

.price-text {
  transition: color 0.75s;
  -moz-transition: color 0.75s;
  -webkit-transition: color 0.75s;
  color:rgb(212,207,201);
  margin-top:2px;
  margin-left:4px;
  margin-right:4px;
  font-size: 16px;
  font-weight: 300;
}

.price-number {
  transition: color 0.75s;
  -moz-transition: color 0.75s;
  -webkit-transition: color 0.75s;
  color:rgb(190, 190, 190);
}

.body-text {
  transition: color 0.75s;
  -moz-transition: color 0.75s;
  -webkit-transition: color 0.75s;
  color:rgb(212,207,201);
  margin-left:4px;
  margin-right:4px;
  margin-bottom:4px;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 300;
}

body
{
  background-color:rgb(232,227,221);
}

/* modal wrapper */
#modal-outer{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: gray;
  background: rgba(0, 0, 0, .5);
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

#modal-outer:target {
  display: block;
}

/* modal inner */
#modal{
  width: 1000px;
  height: auto;
  visibility: visible;
  display: block;
  /**/
  z-index: 6000;
  padding: 20px;
  position: relative;
  margin: 90px auto 40px;
  overflow: visible;
  background-color: white;
  border: 1px solid #CCC  9;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .4),inset 0 1px 0 rgba(255, 255, 255, .5);
  -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .4),inset 0 1px 0 rgba(255, 255, 255, .5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, .4),inset 0 1px 0 rgba(255, 255, 255, .5);
}

/* modal close button */
#modal a[href="#close"] {
  position: absolute;
  right: 0;
  top: 0;
  color: transparent;
  font-size: 0px;
}
#modal a[href="#close"]:focus {
  outline: none;
}
#modal a[href="#close"]:after {
  content: 'X';
  display: block;
  position: absolute;
  right: -16px;
  top: -16px;
  width: 20px;
  height: 15px;
  padding: 8px 7px 8px 7px;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  background: black;
  color: white;
  border: 3px solid white;
  -moz-border-radius: 20px;
  border-radius: 40px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  font-size: 12px;
  font-weight: bold;
}
#modal a[href="#close"]:focus:after {
  outline: 1px solid #000;
}