table {
	font-family:sans-serif;
	border-collapse:collapse;
}

td {
	padding:10px;
	text-align: center;
	vertical-align:middle;
	border-spacing: 5px 5px;
}

textarea{
	width:320px;
	height:70px;
	resize: none
	}



 #container { 
    border:0px solid #000; 
    background-image:url("../images/ad-container.png"); 
    height: 612px;
    width: 710px;
}

#table-left {
	margin-top: 10px;
	margin-left: 10px;
}
 
#table-right {
	margin-top: 10px;
	margin-right: 20px;

}
 
 
 .label-name {
 	float:left;
 }


