iframe{
	width:710px;
	height:612px;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
}

table{
	vertical-align: center;
	text-align: center;

	margin-right:auto;
	margin-left:auto;

	color:white;
	font-weight:900; 
}

#container { 
    border:0px solid #000; 
    font-style: Verdana, Arial, Helvetica, sans-serif;
    font-size:16px;
}


#sidecol{
	width:40%;
	text-align: center;
}


#mid-table {


}
 
#right-table {

}