table {
	font-family:sans-serif;
	border-collapse:collapse;
}


  #container { 
    border:0px solid #000; 
    background-color:#FFF; 
    background-image:url("../images/ad-container.png"); 
    height: 612px;
    width: 710px;
}

#table-left {
	margin-left: 9px;

}
 
 .label-name {
 	float:left;
 }

 .big-text-input {
 	width:426px;
 	height:81px;
 }

td {
	padding:10px;
	text-align: center;
	width: 200px;
	vertical-align:middle;
	border-spacing: 50px 50px;
}

