iframe{
	width:710px;
	height:612px;
}

table{
	margin-top: 50px;
}

td {
	padding:10px;
	text-align: center;
	vertical-align:middle;
	border-spacing: 5px 5px;
}

#container { 
    border:0px solid #000; 
    background-image:url("../images/bg-home_sell.jpg"); 

    height: 612px;
    width: 710px;

    font-style: Verdana, Arial, Helvetica, sans-serif;
    font-size:16px;
}


#left-table {
	margin-right: auto;
	margin-left:auto;
}


#mid-table {
	margin-top: 50px;
	margin-right: auto;
	margin-left:auto;
}
 
#right-table {
	float:right;
	margin-top: 10px;
	margin-right: 20px;

}